---
layout: page
title: Changelog
---

<ul class="list-unstyled">
    {% for clEntry in site.data.changelog %}
        <li id="{{ clEntry.date }}" class="mb-4">
            <h2 class="h5">
                <a href="#{{ clEntry.date }}" title="{{ clEntry.date | date: '%B %d, %Y' }}">
                    {{ clEntry.date | date: '%B %d, %Y' }}
                </a>
            </h2>
            <ul>
                {% if clEntry.added.size > 0 %}
                    <li>Added</li>
                    <ul class="small">
                        {% for item in clEntry.added %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if clEntry.changed.size > 0 %}
                    <li>Changed</li>
                    <ul class="small">
                        {% for item in clEntry.changed %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if clEntry.fixed.size > 0 %}
                    <li>Fixed</li>
                    <ul class="small">
                        {% for item in clEntry.fixed %}
                            <li>{{ item }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </ul>
        </li>
    {% endfor %}
</ul>