<form method="get" action="/button">
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <input id="button_name" class="form-control form-control-lg" type="text" name="address" placeholder="Your BCH address" autocomplete="off" autofocus required>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Generate</button>
            </div>
        </div>
    </div>
</form>
